.Start_btn {
	-fx-background-color: #F1C40F;
}
.Start_btn:hover{
	-fx-background-color: #9A7D0A;
}

.Back {
	-fx-background-color: #BDC3C7;
}
.Toggle:selected
{
	-fx-background-color: #F1C40F;
	-fx-focus-color: transparent;
}
.Toggle:hover
{
	-fx-background-color: #9A7D0A;
}
.UI
{
	-fx-background-color: #E5E7E9;
}
.MenuButton
{
	-fx-font-family: 'Verdana', bold;
	-fx-font-size: 15px;
}